@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-one {
  background-color: #fff;
  color: #595f5f;
  padding-top: 7px;
  padding-bottom: 0px;
  font-size: 17px;
}
.header-one:hover {
  color: #000;
}

.hr-area1 {
  color: #888888;
}

.clg-mail p {
  font-family: "Poppins", sans-serif;
}

.clg-details {
  font-family: "Poppins", sans-serif;
  float: right;
  padding-right: 130px;
}

.media-icon ul {
  margin-bottom: -4rem;
}

.media-icon ul li {
  list-style: none;
  display: inline-block;
  padding-right: 25px;
  position: relative;
  top: -27px;
  left: 140px;
}

.media-icon ul li a {
  text-decoration: none;
  color: #595f5f;
  font-size: 20px;
}
.media-icon ul li a:hover {
  color: #000;
}

.social-media {
  margin-right: 20px;
}

.hr-area1 {
  height: 1.5px;
  margin-bottom: -5px;
}

.bg-light {
  background-color: #fff !important;
}

.navbar {
  box-shadow: 0 10px 30px rgba(192, 190, 190, 0.5);
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fff !important;
}

nav {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.nav-details {
  padding-left: 45px;
  float: right;
}

.nav-head {
  background-color: #f5fff7;
}

.navbar-brand img {
  height: 110px;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-details ul li a {
  margin-right: 10px;
  padding-right: 10px;
  font-family: "Poppins", sans-serif;
  float: right;
  font-size: 16px;
  font-weight: bold;
  color: #2c2929;
  text-decoration: none;
}

.nav-item a {
  color: rgb(153, 149, 149);
}

.nav-item a:hover {
  color: #34b24f;
  text-decoration-style: 3px solid;
  text-underline-offset: 30px solid #34b24f;
}

.main-area {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/banner-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
}

.nav-btn {
  background-color: #0f3618;
  color: #f5fff7;
  padding: 5px;
}

.search-icon {
  margin-left: 30px;
}

.search-logo {
  position: relative;
  left: -39px;
  top: 5px;
  font-size: 21px;
  color: rgba(119, 102, 136, 0.3333333333);
}

.main-area img {
  padding-top: 60px;
  height: 500px;
}

.main-info {
  position: absolute;
  top: 170px;
  left: 201px;
}

.main-info h1 {
  color: #fff;
  font-weight: bold;
  padding-top: 160px;
}

.main-info h1 {
  animation: movedown 1s linear 1;
  animation-delay: 1s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes movedown {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}
.main-info p {
  color: #fff;
  padding-top: 15px;
  font-family: "Poppins", sans-serif;
}

.read-btn {
  margin-top: 50px;
}

.read-btn ul li {
  display: inline-block;
}

.read-more {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 10px 25px;
  background-color: #34b24f;
  margin-top: 30px;
  animation: moveleft 1s linear 1;
  animation-delay: 1s;
  visibility: hidden;
  animation-fill-mode: forwards;
  border-radius: 25px;
}
.read-more:hover {
  background-color: #0f3618;
  color: #fff;
  transition: 0.2s ease-in-out;
}

@keyframes moveleft {
  0% {
    transform: translateX(-100px);
    visibility: visible;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}
.serach-back {
  background: linear-gradient(to right, rgb(122, 172, 57), rgb(122, 172, 57));
  height: 300px;
  position: relative;
  top: -142px;
  transition: all 0.5s ease-out;
}

.serach-back h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  padding-top: 40px;
}

.course-form {
  padding-left: 230px;
  padding-top: 50px;
}

.course-input {
  padding: 20px 250px 20px 20px;
  background: transparent;
  border: 10px transparent #fff;
  color: #fff;
  border: 2px solid aliceblue;
}

.course-form button {
  padding: 20px 20px;
  background: #0f3618;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition: transform ease 0.3s;
}

.course-form button i:hover::before {
  position: relative;
  transition: all ease 0.3s;
}

.course-form button i:hover::after {
  position: relative;
  transition: all ease 0.3s;
}

.search-head h1 {
  font-size: 50px;
  font-weight: bold;
  color: #0f3618;
  padding-bottom: 40px;
  position: relative;
  top: -50px;
}

.advice-area {
  margin-bottom: 50px;
}

.advice-content1 {
  background: linear-gradient(to right, rgb(122, 172, 57), rgb(122, 172, 57));
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding-bottom: 40px;
}

.advice-icon i {
  font-size: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.advice-content1 h1 {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  padding-bottom: 13px;
}

.advice-btn1 a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-decoration-color: #0f3618;
  text-decoration-line: underline;
  text-underline-offset: 10px;
}
.advice-btn1 a:hover {
  color: #0f3618;
}

.advice-btn a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-decoration-color: #fff;
  text-decoration-line: underline;
  text-underline-offset: 10px;
}
.advice-btn a:hover {
  color: #000;
}

.advice-content {
  background: linear-gradient(to right, rgb(122, 172, 57), rgb(122, 172, 57));
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
  padding-bottom: 40px;
}

.advice-content h1 {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  padding-bottom: 13px;
}

.info-head {
  position: relative;
  bottom: 45px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
}

.info-head h3 {
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 5px;
  font-weight: bold;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.info-para {
  padding-bottom: 20px;
  padding-top: 10px;
}

.info-head p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 0px 12px;
}

.join-btn {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #34b24f;
  text-align: center;
  margin-left: 120px;
  border-radius: 25px;
}
.join-btn:hover {
  background-color: #0f3618;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.wel-head {
  font-size: 25px;
  font-weight: bold;
  padding-top: 40px;
  color: #fff;
  text-align: center;
}

.wel-area {
  position: relative;
  top: -145px;
}

.wel-info {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/clg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 434px;
  position: relative;
  left: -24px;
}

.wel-head span {
  color: #fff;
  text-decoration: underline;
}

.wel-btn {
  padding-top: 45px;
  padding-left: 31px;
}

.welcome-img img {
  width: 100%;
}

.clg-para1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: justify;
  font-size: 19px;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  margin-right: -24px;
}

.wel-btn a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #34b24f;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-left: 20px;
  border-radius: 25px;
}
.wel-btn a:hover {
  background-color: #0f3618;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.work-info {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 50%), url(../images/friends-with-smile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
  background-attachment: fixed;
  margin-bottom: 40px;
}

.work-icons i {
  color: #fff;
  font-size: 18px;
  padding-right: 20px;
  background-color: #34b24f;
  padding: 10px 10px;
  border-radius: 62px;
  margin-right: 14px;
}

.work-head {
  color: #1c7837;
  padding-top: 35px;
  padding-left: 70px;
  font-size: 45px;
  font-weight: bold;
}

.work-sub {
  padding-top: 20px;
  padding-left: 70px;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
}

.work-icons h1 {
  color: #34b24f;
  padding-top: 20px;
  font-size: 30px;
}

.work-icons p {
  color: #fff;
  padding-left: 50px;
}

.services-head h6 {
  padding-top: 30px;
  text-align: center;
  color: #0f3618;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
}

.services-head h6::before {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #0f3618;
  position: absolute;
  left: 453px;
  top: 38px;
}

.services-head h6::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #0f3618;
  position: absolute;
  left: 582px;
  top: 38px;
}

.services-head h1 {
  color: #0f3618;
  font-weight: bold;
  font-size: 45px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.services-area {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bg-211.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  height: 655px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.services-1 {
  padding-top: 100px;
  padding-left: 70px;
}

.services-1 img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.services-1 img:hover {
  transform: scale(1.2);
}

.service-info {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 45px;
}

.service-info h3 {
  color: #fff;
}

.service-info h1 {
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

.para-1 {
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

.para-2 {
  color: #fff;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

.services-btn {
  padding-top: 30px;
}

.services-btn a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  background-color: #0f3618;
  padding: 12px 31px;
  border-radius: 20px;
  transition: all 0.5s ease-out;
}
.services-btn a:hover {
  background-color: #fff;
  color: #000;
  transition: 0.2s ease-in-out;
}

.course-head {
  position: relative;
  top: -7 0px;
}

.course-area {
  background-color: #ebe8e8;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 50px;
}

.course-head h1 {
  color: #0f3618;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-bottom: 100px;
}

.course-head h6 {
  padding-top: 30px;
  text-align: center;
  color: #0f3618;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
}

.course-head h6::before {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #0f3618;
  position: absolute;
  left: 453px;
  top: 38px;
}

.course-head h6::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #0f3618;
  position: absolute;
  left: 582px;
  top: 38px;
}

.course-category {
  padding-top: 20px;
  padding-bottom: 20px;
}

.course-img {
  padding: 10px;
  position: relative;
}

.course-img::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.course-img:hover::before {
  animation: circle 0.75s;
}
@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
.about-course {
  background: #fff;
  position: relative;
  background: #fff;
  width: 83%;
  padding: 15px 5px 2px 17px;
  margin-top: -90px;
}

.about-course h1 {
  color: #0f3618;
  font-size: 25px;
  font-weight: bold;
}
.about-course h1:hover{
  box-shadow: inset 200px 0 0 0 #9a9c9c;
  color: #0f3618;
  padding: 5px 5px;
  transition: 0.2s ease-in-out;
}

.about-course p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.info {
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  background: #ebe8e8;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.review-area {
  margin-top: 90px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 90px;
}

.admissions-area {
  border: 5px solid #0f3618;
  border-radius: 0px 80px;
  padding: 40px 50px;
  transition: all 0.5s ease-out;
}

.admissions-area i {
  font-size: 45px;
  padding-left: 50px;
  padding-bottom: 10px;
}

.admissions-area h1 {
  color: rgb(11, 11, 73);
  text-align: center;
}

.admissions-area h4 {
  font-size: 17px;
  text-align: center;
}

.admissions-area:hover {
  border: 5px solid #0f3618;
  border-radius: 80px 0px;
  padding: 40px 40px;
  transition: 0.3s ease-in-out;
}

.sign-area h3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 40px;
}

.sign-input {
  padding-top: 40px;
  padding-bottom: 40px;
}

.new-letter h1 {
  color: #0f3618;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-bottom: 100px;
}

.new-letter h6 {
  padding-top: 30px;
  text-align: center;
  color: #0f3618;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
}

.new-letter h6::before {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #0f3618;
  position: absolute;
  left: 483px;
  top: 38px;
}

.new-section {
  padding-left: 50px;
}

.new-letter h6::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background: #0f3618;
  position: absolute;
  left: 608px;
  top: 38px;
}

.news-details h2 {
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.news-details p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: justify;
}

.news-cont {
  padding-left: 70px;
  position: relative;
  top: -45px;
  padding-right: 146px;
}

.news-cont h3 {
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.news-cont p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

.news-single {
  padding-bottom: 50px;
  position: relative;
}

.new-letter {
  padding-right: 125px;
}

.news-single::after {
  content: "";
  display: block;
  width: 250px;
  height: 4px;
  background: #0f3618;
  position: absolute;
  left: 176px;
  top: 163px;
}

.news-single1 {
  padding-bottom: 50px;
  position: absolute;
}

.news-single1::after {
  content: "";
  display: block;
  width: 250px;
  height: 4px;
  background: #0f3618;
  position: absolute;
  top: 161px;
  left: -20px;
}

.news-single1::before {
  content: "";
  display: block;
  width: 4px;
  height: 147px;
  background: #0f3618;
  position: absolute;
  top: -10px;
  left: -80px;
  top: -38px;
}

.news-single3 {
  position: relative;
}

.news-single3::before {
  content: "";
  display: block;
  width: 4px;
  height: 147px;
  background: #0f3618;
  position: absolute;
  left: -68px;
  top: 6px;
}

.logo-center {
  position: relative;
}

.logo-center img {
  position: absolute;
  left: 462px;
  height: 82px;
  top: -102px;
}

.footer-area {
  background: linear-gradient(to right, rgb(22, 105, 33), rgb(61, 107, 2));
  margin-top: 40px;
  padding-bottom: 10px;
}

.sign-email {
  padding: 20px 20px;
  padding-right: 217px;
  font-family: "Poppins", sans-serif;
  border-radius: 12px;
}

.sub-area {
  position: relative;
  float: right;
  top: -45px;
}

.sub-area a {
  text-decoration: none;
  background-color: #0f3618;
  color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 15px;
}

.sub-area a:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.hr-area {
  color: #fff;
}

.footer-img p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-top: 20px;
}

.footer-hr {
  content: " ";
  position: relative;
  width: 200px;
  height: 3px;
  color: #000;
}

.footer-img h6 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-top: 20px;
  font-weight: bold;
}

.social-icons ul {
  padding-left: 0px;
}

.social-icons ul li {
  list-style: none;
  display: inline-block;
  padding-right: 25px;
}

.social-icons ul li a {
  color: #fff;
  font-size: 20px;
}

.course-footer {
  margin-top: 60px;
}

.course-footer h1 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.course-info {
  margin-top: 40px;
}

.course-info ul {
  padding-left: 0px;
}

.course-info ul li {
  list-style: none;
  padding-top: 12px;
}

.course-info ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.course-info ul li a:hover {
  color: #34b24f;
}

.footer-contact {
  font-size: 20px;
}

.footer-mail {
  font-size: 20px;
}

.footer-img {
  background: rgba(255, 255, 255, 0.1);
  padding: 22px 25px;
  margin-top: -17px;
  margin-bottom: 0px;
  margin-left: -12px;
  position: relative;
}

.line {
  width: 166%;
  color: #fff;
  position: relative;
  top: 39px;
  left: -184px;
}

.hr-last {
  color: #fff;
  position: relative;
  top: -17px;
}

.copy-right h5 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding-top: 20px;
}/*# sourceMappingURL=style.css.map */